/***********contacto***********/
@mixin sizes ($w, $h) {
    width: $w;
    height: $h;

}


#about {
    background-image: url(../img/banner/bannerContact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include sizes(100%, auto);

    .about-container {
        background-color: map-get($map: $styleContacto, $key:backgroundIn);
        border-radius: 3%;
    }

    @mixin flex-center {

        justify-content: center;
    }

    .flex-container {
        @include flex-center;
        border-radius: 10px;

        .form {

            

            .form textarea {
                min-height: 250px;
                resize: none;


            }

            .form-input {
                width: 100%;
                background-color: map-get($map: $styleContacto, $key: backgroundIn);
            }

            .form-input[type="submit"]:hover {
                background-color: map-get($map: $styleContacto, $key: backgroundIn);

            }

            .form-input:focus {
                background: linear-gradient(to bottom, transparent, #222);
                outline: none;


            }

            .youAge {
                display: inline-block;

            }

            .form-select option {
                align-content: center;

            }

        }

        input {
            font-size: map-get($map: $styleContacto, $key: font-sizeTitle);
            color: map-get($map: $styleContacto, $key: textColor);
            background-color: map-get($map: $styleContacto, $key: backgroundIn);
            border-radius: map-get($map: $styleContacto, $key: borderRForm);
            font-family: map-get($map: $styleContacto, $key: fontFam);
        }

        .form__section p b {
            @extend input;
        }

        option {
            @extend input;
        }

        select {
            @extend input;
        }

        .youAge {
            @extend input;
        }

        .form-select {
            @extend input;
        }

        label {
            @extend input;
        }

        textarea {
            @extend input;
        }

        .about-back {
            text-decoration: none;
            font-weight: bold;
        }
    }

}