
:root {
    --shadowBar-color: #57033cc4;
    --primary-color: #8B0060;
    --secundary-color: #8B001A;
    --text-color: #000;
    --text-inverse-color: #fff;
    --mobileMenu-background-color: #6d0752;
}