:root {
    --shadowBar-color: #57033cc4;
    --primary-color: #8B0060;
    --secundary-color: #8B001A;
    --text-color: rgb(255, 255, 255);
    --text-inverse-color: rgb(22, 83, 173);
    --mobileMenu-background-color: #6d0752;
}


$styleContacto:(backgroundIn:#2225,
    titleTextColor:#000,
    textColor:#fff,
    font-sizeTitle: x-large,
    borderRForm: 3%,
    fontFam: arial);

$styleGeneral:(textColor: #fff,
    fontSize: x-large,
    fontFam: arial,
)