 /**********ORIGIN********/
 @import "templates/var";
 @import "templates/about";

 body {
     font-family: 'Elsie Swash Caps', sans-serif;
     background: linear-gradient(to bottom, #8B0060, #8B001A,#8B0060, #8B001A,#8B0060, #8B001A,#8B0060, #8B001A,#8B0060, #8B001A);
     height: 100vh;
     width: 100%;

     a,
     h1,
     h2,
     h3,
     h4,
     h4,
     h5,
     h6,
     h7,
     h8 {
         text-decoration: none;
         color: var(--text-color);
         font-size: xx-large;
         font-weight: bold;
     }
    .card-text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        color: black;
    }
    .carouselImg{object-fit: cover;}


     p {
         font-size: map-get($map: $styleGeneral, $key: fontSize);
         font-family: map-get($map: $styleGeneral, $key: fontFam);
         color: map-get($map: $styleGeneral, $key: textColor);
     }

     ul {
         list-style-type: none;
     }

     ol {
         list-style-type: none;
     }

     /*estilizado especial*/
    img{
        object-fit: contain;
    }
    .bg-custom{   background:#8B0060;}
    .alto-100{
        height: 100%;
    }
 }

@media screen and (max-width: 500px) {
    .bannerDos{
        display: none;
    }
    
}

 /*************************madriguera*******************************/



 .fondo{
     display: flex;
     flex-direction: column;
     margin-top: 5px;
     
     background-image: url(../img/hoja1.jpg);
     background-size: cover;
     display: inline-flex;
     height: 100%;
 }

 .fondo-historia{
     align-items: center;
     width: 100%;
     height: 90%;
     display: flex;
     flex-direction: column;
     margin: 5%;
 }

 .fondo-titulo {
     font-weight: bold;

 }